{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <legend>{{ legend }}</legend>
    <div class="form_settings">
        <p><span>{{ form.title.label }}</span>
        {% if form.title.errors %}
        {{ form.title }}
                        <p>
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </p>
                    {% else %}
                        {{ form.title }}
                    {% endif %}
        </p>
        <p><span>{{ form.content.label }}</span>
        {% if form.content.errors %}
        {{ form.content }}
                        <p>
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </p>
                    {% else %}
                        {{ form.content }}
                    {% endif %}
        </p>
        {{ form.submit }}
    </div>
</form>
{% endblock content %}