<!DOCTYPE HTML>
<html>

<head>
  {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Мой-блог</title>
    {% endif %}
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<!--  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />-->
  {% block style %} {% endblock style %}
</head>

<body>
  <div id="main">
    <div id="header">
      {% block header %}
      {% endblock header %}v
    </div>

    <div id="site_content">
      <div class="sidebar">
        {% block sidebar %}{% endblock sidebar %}
      </div>

      <div id="content">
        {% block content %}{% endblock content %}
        </div>
    </div>
    <div id="footer">
      Copyright &copy; black_pink_white | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a
        href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | from <a
        href="http://www.html5webtemplates.co.uk">free HTML5 templates</a>
    </div>
  </div>
</body>

</html>
