<!DOCTYPE HTML>
<html>

<head>
  {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Мой-блог</title>
    {% endif %}
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<!--  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  {% block style %} {% endblock style %}
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{{url_for('main.home') }}">Мой<span class="logo_colour">_блог</span></a></h1>
          <h2></h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="{{url_for('main.home') }}">Главная</a></li>
          {% if current_user.is_authenticated %}
          <li class="selected"><a href="{{url_for('users.account') }}">{{ current_user.username }}</a></li>
          <li class="selected"><a href="{{url_for('posts.allpost') }}">Все посты</a></li>
          <li class="selected"><a href="{{url_for('posts.new_post') }}">Новый пост</a></li>
          <li class="selected"><a href="{{url_for('users.logout') }}">Выйти</a></li>
          {% else %}
          <li class="selected"><a href="{{url_for('users.login') }}">Войти</a></li>
          <li class="selected"><a href="{{url_for('users.register') }}">Регистрация</a></li>
          {% endif %}
        </ul>
      </div>
      {% block header %}
      {% endblock header %}v
    </div>

    <div id="site_content">
      <div class="sidebar">
        <h3 id="data-time">Ошибка вывода даты</h3>
        <h5 id="clock-time">Ошибка вывода времени</h5>
        <script src="{{ url_for('static', filename='date.js') }}"></script>
        {% block sidebar %}{% endblock sidebar %}
      </div>

      <div id="content">
        {% block content %}{% endblock content %}
        </div>
    </div>
    <div id="footer">
      Copyright &copy; black_pink_white | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a
        href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | from <a
        href="http://www.html5webtemplates.co.uk">free HTML5 templates</a>
    </div>
  </div>
</body>

</html>
