{% extends "layout.html" %}
{% block style %}
<style>
    .sub {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
</style>
{% endblock style %}
{% block content %}
<form action="#" method="post">
    {{ form.hidden_tag() }}
    <div class="form_settings">
        <p><span>{{ form.email.label }}</span>
        {% if form.email.errors %}
        {{ form.email }}
                        <p>
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </p>
                    {% else %}
                        {{ form.email }}
                    {% endif %}
        </p>
        <p><span>{{ form.password.label }}</span>
        {% if form.password.errors %}
        {{ form.password }}
                        <p>
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </p>
                    {% else %}
                        {{ form.password }}
                    {% endif %}
        </p>
        <div class="sub">
            {{ form.submit }}
        </div>
    </div>
</form>
Нужен аккаунт? <a href="{{ url_for('users.register') }}">Зарегистрируйтесь</a>
<!--<a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>-->
{% endblock content %}