{% extends "layout.html" %}
{% block style %}
<style>
    .profile { border-radius: 100px;
    width: 50px;
    height: 50px;
    border: 3px solid green;
    box-shadow: 0 0 7px #666;}

    .post {padding: 20px 40px;
    background: #968089;
    border: 2px dashed #e3c3d4;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #968089, 2px 1px 6px 4px rgba(150, 128, 137, 0.5);
      color: #fff;
      font-family: 'Lato', sans-serif;}

    .del {
    background: red;
    border-radius: 50px;
    padding: 15px 32px;
    text-align: center;
    }

    .answer {
    text-align: center;
    }

</style>
{% endblock style %}
{% block content %}
<span class="left"><img class="profile" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
                        alt="example graphic"/></span>
<p><a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a></p>
<div class="post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <h6>Опубликовано {{ post.date_posted.strftime('%A, %d %B %Y %I:%M %p') }}</h6>
</div>

{% if post.author == current_user %}
<div class="card-footer" style="font-size: 20px;"> {% if post.author == current_user %}<a
        class="btn btn-secondary btn-sm mt-1 mb-1"
        href="{{url_for('posts.update_post', post_id=post.id) }}">Обновить</a>
    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-sm m-1" data-toggle="modal"
            data-target="#deleteModal">Удалить
    </button>
    <div id="delete"></div>

</div>
{% endif %}


{% endif %}
<script>
function clickDelete() {
    const d0 = '<div class="del">';
    const d1 = '<p>Вы уверены?</p>';
    const d2 = '<div class="answer"><form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST"><input class="btn btn-danger" type="submit" value="Удалить"></form>';
    const d3 = '<button onclick="clickClear()">Нет</button></div>';
    const d4 = '</div>';
    var d = `${d0} ${d1} ${d2} ${d3} ${d4}`;
    console.log(d);
    document.getElementById("delete").innerHTML = d;
};
function clickClear() {
     document.getElementById('delete').innerHTML = '';
};

</script>
{% endblock content %}