{% extends "layout.html" %}
{% block content %}
<form action="#" method="post">
    {{ form.hidden_tag() }}
    <div class="form_settings">
        <p><span>{{ form.password.label }}</span>
        {% if form.password.errors %}
        {{ form.password }}
                        <p>
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </p>
                    {% else %}
                        {{ form.password }}
                    {% endif %}
        </p>
        <p><span>{{ form.confirm_password.label }}</span>
        {% if form.confirm_password.errors %}
        {{ form.confirm_password }}
                        <p>
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </p>
                    {% else %}
                        {{ form.confirm_password }}
                    {% endif %}
        </p>
        {{ form.submit }}
    </div>
</form>
{% endblock content %}